<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.220819.143251" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.220819.143032" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.220822.32314" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.220825.113426" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.220826.15831" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.220825.155237" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.220905.122106" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.220817.152548" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.220905.140119" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.220908.84230" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.220905.105721" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.220728.140804" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.220818.53104" targetFramework="net481" />
  <package id="nilnul.set._discrete_._LIB_" version="1.0.7713.29418" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>