<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.241016.32119" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.241016.32253" targetFramework="net481" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.250417.141758" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.250403.154606" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.250804.164855" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.250804.164856" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.250805.132413" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.250424.44336" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.250118.94723" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.250728.52243" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.250329.142625" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.250804.165609" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.250804.103333" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>